@page "/converter"

<h1>Converter for hieroglyphs</h1>

<!-- <p>the transformed string: @setHieroGlyph(numeric)</p> -->

<p style="color:green">1000</p>
<p style="color:blue">100</p>
<p style="color:orange">10</p>
<p style="color:red">1</p>
<hr>
<table>
    <tbody>
    @foreach (var radix in @splitNumeric(numeric))
    {
    //<tr>@radix.Key -> @for (int i = 0; i < @radix.Value; i++) {<img src="images/@(radix.Key).png"/>}</tr>
    <tr>@for (int i = 0; i < @radix.Value; i++) {<img src="images/@(radix.Key).png"/>}</tr>
    }
    </tbody>
</table>

<p><input type="text" @bind="@numeric" @bind:event="oninput" ></p>


@code{
    private int numeric { get; set; } = 0;

    private Dictionary<string, int> splitNumeric(int numeric)
    {
        var res = new Dictionary<string, int>();
        res["thousand"] = numeric / 1000;
        var remain = numeric - res["thousand"] * 1000;
        res["hundred"] = remain / 100;
        remain -= res["hundred"] * 100;
        res["ten"] = remain / 10;
        remain -= res["ten"] * 10;
        res["one"] = remain;
        return res;
    }

    private string setHieroGlyph(int input)
    {
        return string.Concat(Enumerable.Repeat(input.ToString(),3));
     }
}